html, body, #wrapper {
	height: 100%;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Rock Salt', cursive;
}

#wrapper {
	background-image: url('../images/hotAirBalloonBackground1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

header {
	position: relative;
	height: 40%;
}

#bigName {
	position: absolute;
	font-size: 80px;
	color: white;
	line-height: 1.25em;
	bottom: 15px;
	left: 40%;
	transform: translate(-50%, 0);
    text-shadow: 0px 0px 1px white, 2px 2px 17px rgba(0,0,0,.6);
}

#comment {
	position: absolute;
	color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,.6);
    left: 50%;
    bottom: 0;
}

#main {
	position: relative;
	height: 60%;
}

#sitesButton {
	color: white;
	position: relative;
    text-shadow: 2px 2px 10px rgba(0,0,0,.6);
    text-align: center;
    top: 50%;
}








